{% extends 'base.html' %}

{% block title %}Home {%endblock%}

{% block content %}

<div class="container mt-5">
  <div class="d-sm-flex">
    <div d-flex>
      <h1>Just getting <span class="text-warning">Started </span></h1>
      <p class="lead my-4" style="width: 70%;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus rem est cupiditate esse. Obcaecati est, consequuntur vel laborum odio tempore?
      </p>
      <button class="btn btn-primary btn-lg">Keep Going</button>
    </div>
   
  </div>
</div>

{% endblock%}
